.home--wrapper{
   
    height: 100vh;
    background: url('../../images/bg-tablet-pattern.svg');
    background-repeat: no-repeat,no-repeat;
    background-position:top -50px right -50px;
    background-size: 50%;
    box-sizing:border-box; 
    z-index: 1;

}





@media screen and (max-width: 960px){
    .home--wrapper{
        background-size: 70%;
    }
    .mobile-menu{
        
        z-index: 1000000;
        
    }
    
    
} 