.footer--wrapper{
    width: 100%;
    margin: 4rem 0;

    
}
.footer--sectionmain{
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: hsl(12, 88%, 59%);
   
    

}
.footer--sectionmain h1{
    font-size: 2.5rem;
    color: white;
    text-align: left;
    
    
     
}