.footer--wrapper{
    width: 100%;
    margin: 4rem 0;
    background: black;
    color: white;
    overflow:hidden;
    
}
.footer--sectionmain{
    width: 100%;
    height: 12rem;
    display: flex;
    padding:0 8% 0 8%;
    justify-content: space-between;
    align-items: center;
    background: hsl(12, 88%, 59%);
    overflow: hidden;
   
    

}
.footer--sectionmain::after{
    content: "";
    position: absolute;
    background-image: url('../images//bg-tablet-pattern.svg');
    
    background-size: cover;
    width: 10rem;
    height: 20rem;
    margin-bottom: -5rem;
    opacity: .1;
    overflow: hidden;
}


.footer--sectionmain h1{
    font-size: 2.5rem;
    color: white;
    text-align: left;

    
     
}

.footer--socialsmenu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding:4% 8%;

}


.logo--socialicons li{
    float: left;
    color: white;
    margin-top: 5rem;
    margin-left: 0.8rem;
}
.icons{
    margin-left: -4rem;
}
.icon--fb{
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    color: black;
    border-radius: 1px;
    text-align: center;
}
.icon--yt{
    width: 1.7rem;
    height: 1.7rem;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    padding-top: 0.2rem;
}
.icon--pi{
    width: 1.7rem;
    height: 1.7rem;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    padding-top: 0.3rem;

}




.menu--one li{
    margin-bottom: 1rem;
}
.menu--one li:last-child{
    margin-bottom: 0;
}




.menu--two li{
    margin-bottom:1rem;
}
.menu--two li:last-child{
    margin-bottom: 0;

}

.contact--input input{
    width: 12rem;
    height: 2rem;
    border-radius: 1rem;
    border: transparent;
    outline: transparent;
    padding: 1rem;
    font-size: 0.8rem;
    margin-left: -1rem;
    margin-right: 1rem;

}

.copyright--section{
    grid-column: 4;
    margin-top: -2rem;
    
}

@media screen and (max-width: 960px) {
    .footer--sectionmain{
        width: 100%;
        height: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 8%;
        background: hsl(12, 88%, 59%);
       
    }
    .footer--sectionmain h1{
        text-align: center;
        margin-bottom: 2rem;
    }




    .footer--socialsmenu{
        display: grid;
        grid-template-columns:50% 50%;
        padding: 2%;
        padding-top: 3rem;
    }

    .contact--input{
        grid-column:1/3;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 0;
        margin-bottom: 2rem;
        text-align: center;
    }

   
    .logo--socialicons{
        grid-row: 3;
        grid-column: 1/3;
        padding: 0;
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }

    .logo--socialicons img{
        width: 13rem;
        height: 3rem;
    }
   
   .icons{
       text-align: center;
   }

   .logo--socialicons li{
    margin-top: 1rem;
    margin-left: 1rem;
}

    .menu--one,.menu--two{
        text-align: center;
       margin-bottom: 2rem;
    }
   
    
    .copyright--section{
        grid-column: 1/3;
        grid-row: 5;
        padding: 0;
        margin-top: 1rem;
        text-align: center;
    }

     
}