
.navbar--{
    height: 5rem;
     position: sticky;
     top: 0;
     z-index: 999;
     padding: 1% 6%;
     
} 


.navbar--container{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

  .navbar--logo{
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.menu--icon{
    display: none;
}



 .nav--menu {
    display: flex;
    list-style: none;
    text-align: center;

}

.nav--item {
  height: 4rem;

}


.nav--links{
    font-size: 0.9rem;
    text-decoration: none;
    color: rgb(44, 43, 43);
     font-weight: 500;
     margin-right: 1rem;
}


 @media screen and (max-width: 960px) {

   .menu--icon{display:block}

   .nav--menu{
     padding: 0;
   }

     .mobile--menu{
       width: 80vw;
       height: 15rem;
       background: white;
       margin-top: 4rem;
       box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
       position: absolute;
       left: -100%;
      
      
     }
     
     .mobile--menu.active{
       left: 100%;
     }
    
  

   .nav--menu{
    flex-direction: column;
    align-items: center;
    display: flex;

   }

   .nav--item {
     height:1rem;
     margin-bottom: 1rem;
   }

   .nav--links{
     margin: 0;
   }

 }

 
