
.navbar--{
    height: 5rem;
     position: sticky;
     top: 0;
     z-index: 999;
     padding: 1% 6%;
     
} 


.navbar--container{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

  .navbar--logo{
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.menu--icon{
    display: none;
}



 .nav--menu {
    display: flex;
    list-style: none;
    text-align: center;

}

.nav--item {
  height: 4rem;

}


.nav--links{
    font-size: 0.9rem;
    text-decoration: none;
    color: rgb(44, 43, 43);
     font-weight: 500;
     margin-right: 1rem;
}


 @media screen and (max-width: 960px) {

   .menu--icon{display:inline}

   .nav--menu{
     padding: 0;
   }

     

    .mobile-menu{
       
         background:white;
        display: none;
        width: 90vw;
        position: absolute;
        left: 5%;
        top: 80px;
        opacity: 1;
        transition: all 0.5s ease;
        margin: 0;
        padding: 0;
        border-radius: 5px;
        font-weight: 900;
        /* box-shadow:0 0 0 10000px rgba(0,0,0,.50); */
  
   }

   .mobile-menu.active{
     display: block;
   }

   .nav--menu{
    flex-direction: column;
    align-items: center;
    display: flex;

   }

   .nav--item {
     height:1rem;
     margin-bottom: 1rem;
   }

   .nav--links{
     margin: 0;
   }

 }

 
