.client-card{
    width: 35rem;
    height: 12rem;
    background:  hsl(0, 9%, 96%);
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 1rem;
    padding: 0 2rem;
    overflow: visible;
    
    
}
.client-card :last-child{
    margin-right: 0;
}

.client-image{
    width: 4rem;
    height: 4rem;
     
}

